@use "../cratss-core" as core;


@include core.forAllThemes using ($theme){
    .table{
        border:none;
        border-collapse: collapse;
        font-size: 0.9em;
    
        &-striped{
            tr:nth-child(even) {
                background-color: rgba(core.get($theme,"themeColor","neutro"),0.1); 
            }
        }
    
        tr{
            padding:0 2rem;
            border-bottom: solid rgba(150,150,150,0.5) 1px; 
        }
    
        th{
            padding-bottom: 1rem;
            text-align: left;
            font-size: 0.8rem;
            padding :1em 0.8rem;
        }
    
        td{
            padding :1em 0.8rem;
            
            .action{
                min-width: 11em;
            }
        }
    
    }
}
